html,body{
	font-family: "open sans", "Helvetica neue", Helvetica, Arial, sans-serif;
	background-color: #f3f3f4;
	color: #676a6c;
	height:100%;
}

.box{
	//border:1px red dotted;
}

#side-menu{
	background-color:#2f4050;
	padding:0px;
}

#side-menu h1{
	color:#1f3647;
	font-size: 25px;
	margin: 10px 0px;
	text-align: center;
}

#side-menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

#side-menu a{
	padding: 12px 20px;
	text-decoration: none;
	color: #9fb1c2;
	font-weight: bold;
	font-size: 13px;
	display: block;
}

#side-menu .glyphicon{
	margin-right: 6px;
}

#side-menu a:hover{
	background-color: #293846;
	color:#fff;
	display: block;
}

#side-menu .active a{
	background-color: #293846;
	color:#fff;
}

#side-menu .collapseable li{
	padding-left: 20px;
	padding-top: 5px;
}

#side-menu .collapseable{
	border-left:4px solid #1ab394;
	background-color: #293846;
}

.display-table{
	display:table;
	padding:0px;
	height:100%;
	width:100%;
}

.display-table-row{
	display:table-row;
	height:100%;
}

.display-table-cell{
	display:table-cell;
	float: none;
	height:100%;
}

.valign-top{
	vertical-align: top
}

#nav-header{
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
	padding-bottom:5px;/*prueba*/
}

#nav-header #header-search-field{
	padding-top:17px;
	vertical-align:center;
	border:none;
	width:300px;
	outline:none;
}

#nav-header ul{
	margin:0px;
	padding:0px;
	list-style:none;
	color: #676a6c;
}

#nav-header ul li{
	float:left;
	margin-left: 15px;/*Valores diferentes*/
	padding: 17px 0px;
}

#nav-header ul a{
	text-decoration: none;
}

#nav-header .logout{
	color:#676a6c;
}

#nav-header .logout:hover{
	color:#676a6c;
}

#nav-header #welcome{
	margin-right: 20px;
}

#admin-footer{
	position: absolute;
	width:100%;
	bottom:0px;
	background-color: #fff;
	padding:10px;
	font-size: 12px;
	color:#676a6c;
}

.navbar-default{
	background-color: #fff;
}

.navbar-default .navbar-toggle{
	border-color: #1ab394;
	background-color: #1ab394;
}

.navbar-default .icon-bar{
	border:1px white solid;
}

.navbar-default .navbar-toggle:hover{
	background-color: #1ab394;	
}

.navbar-default .navbar-toggle:focus{
	background-color: #1ab394;	
}

/*Estilos de admin/usuarios*/

.contenido{
	margin:20px 0px 50px 0px;
	background-color: #fff;
	border-top:4px #e7eaec solid;

}

.contenido header{
	border-bottom: 1px #f3f3f4 solid;
	padding: 10px 0px;
}

.page_title{
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0px 0px 20px;
	margin:0px;
}

.contenido-inner{
	padding:20px;
}

.form-wrapper{/*Plantearme si introducirlo en otro fichero*/
	background-color: #eee;
	padding:20px;
}

/*Detalle*/
.panel_centrado{
	width:100%;
	text-align: center;
	margin:auto;
}

.panel_resultado{
	margin-top:10px;
}

.tamano_form{
	width:50%;
	margin:auto;
}

.margen_boton{
	margin-top: 10px;
}

.refresco{
	margin-right: 10px;
	margin-top: 0px;
	padding:0px;
	position: absolute;
	right:40px;
	top:165px;
	color:#1ab394;
}

.refresco:hover{
	color:red;
}

.refresco2{
	margin-right: 10px;
	margin-top: 0px;
	padding:0px;
	position: absolute;
	right:20px;
	top:95px;
	color:#1ab394;
}

.refresco2:hover{
	color:red;
}

.refresco3{
	margin-right: 10px;
	margin-top: 0px;
	padding:0px;
	position: absolute;
	right:35px;
	top:155px;
	color:#1ab394;
}

.refresco3:hover{
	color:red;
}

.peque{
	/*
	width:100px;
	height:100px;
	*/
	width:100%;

}

.textoCuadro{
	width:20px;
	border: 0px;
	background-color:#EEEEEE;

}

#myBigDoughnut{
	margin:auto;
}

.bloqueado{
	color:red;
}

.nube{
	color:lightgrey;
}

.idioma{
	float:right;
 }

.btnsb{
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}



