<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- menu izquierdo -->
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
            <h1 class="hidden-sm hidden-xs"><?=__('lng.navegacion','default value')?></h1>
            <ul>
                <li class="link t1">
                    <a href="tablon">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mtablon','default value)')?></span>
                    </a>
                </li>

                <li class="link active t2">
                    <a href="cpc">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mcpc','default value)')?></span>
                    </a>
                </li>

                <?php
                if(Session::get('admin')==1){
                    print_r('<li class="link">');
                    print_r(' <a href="#collapse-conf" data-toggle="collapse" aria-controls="collapse-conf">');
                    print_r('<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>');
                    print_r('<span class="hidden-sm hidden-xs">'.__('lng.madmin','default value').'</span>');
                    print_r(' </a>');
                    print_r('<ul class="collapse collapseable" id="collapse-conf">');
                    print_r('<li ><a href="usuario">'.__('lng.musuarios','default value').'</a></li>');
                    print_r('<li ><a href="pcs" >'.__('lng.mpcs','default value').'</a></li>');
                    print_r('<li ><a href="notastablon">'.__('lng.mtablon','default value').'</a></li>');
                    print_r('<li ><a href="dpto">'.__('lng.mdpto','default value').'</a></li>');
                    print_r('</ul>');
                    print_r('</li>');
                }
                ?>
                <li class="link t3">
                    <a href="detalles">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mdetalles','default value)')?></span>
                    </a>
                </li>

                <li class="link t4">
                    <a href="estadistica">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mestadis','default value)')?></span>
                    </a>
                </li>

                <li class="link tourr" id="">
                    <a href="#">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs "><?=__('lng.mtour','default value)')?></span>
                    </a>
                </li>

                <li class="link t5">
                    <a href="salir">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mout','default value)')?></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- contenido principal -->
        <div class="col-md-10 col-sm-11 col-xs-11 display-table-cell valign-top box">
            <div class="row">
                <header id="nav-header" class="clearfix">
                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>

                    </div>
                    <div class="col-md-7">
                        <ul class="pull-right">
                            <li id="welcome" class="hidden-xs"><?=__('lng.mbienvenido','default value')?><?=Session::get('usuario');?></li>
                            <li><a href="#" class="logout">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><a href="./salir"><?=__('lng.mout','default value')?></a>
                            </a>
                        </ul>

                    </div>
                </header>
            </div>
            <!-- Contenido de la pagina-->
            <div class="contenido">
                <header>
                    <h2 class="page_title"><?=__('lng.tcpc','default value)')?></h2>
                    <span class="pull-right glyphicon glyphicon-refresh refresco3" id="refresco3"></span>
                </header>
                <div class="contenido-inner">
                    <div class="panel panel-default">
                        <div class="panel-heading"><?=__('lng.tcpclistado','default value')?></div>
                        <div class="panel-body">
                            <div class="form-wrapper">
                                <form method="post" action="" id="formularioPCs">
                                    <div class="form-group ">

                                                <?php
                                                $cont=01;
                                                $cabnom=01;

                                                foreach($data['info'] as $info){
                                                if($cont==01){
                                                    print_r('<div class="row text-center"><div class="col-md-2 col-sm-2 col-xs-12">');
                                                }
                                                    print_r ("<img class='peque' src='./../../webroot/img/IconoPc.png'><br/>");
                                                    print_r ("<input type='text' class='textoCuadro' name='te".$cabnom."' readonly value='{$info["nombre"]}'><br/>");
                                                    if($info['nombre']=="Profesor"){
                                                        print_r ("<br/><input class='tog' name='che".$cabnom."' type='checkbox' data-toggle='toggle' data-on='On' data-off='Off'  data-onstyle='success' data-offstyle='danger' checked disabled>");
                                                    }elseif($info['internet']==1){
                                                        print_r ("<br/><input class='tog' name='che".$cabnom."' type='checkbox' data-toggle='toggle' data-on='On' data-off='Off'  data-onstyle='success' data-offstyle='danger' checked>");
                                                    }else{
                                                        print_r ("<br/><input class='tog' name='che".$cabnom."' type='checkbox' data-toggle='toggle' data-on='On' data-off='Off'  data-onstyle='success' data-offstyle='danger' >");
                                                    }
                                                    print_r ("<br/><input type='hidden' class='textoCuadro' name='int".$cabnom."' id='iche".$cabnom."' readonly value='{$info["internet"]}'><br/>");



                                                    //print_r($cont);
                                                    $cont=$cont+1;

                                                    if($cont<06){
                                                        print_r ('</div><div class="col-md-2 col-sm-2 col-xs-12">');
                                                    }else{
                                                        print_r ('</div></div>');
                                                        $cont=01;
                                                    }
                                                    $cabnom++;

                                                }
                                                    ?>

                            </div>
                                    <div class="row text-center col-xs-12">
                                    <div class="clearfix text-center">
                                        <button type="submit" class="btn btn-primary margen_boton " name="actualizar"><?=__('lng.bactualizar','default value')?></button>
                                    </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <!-- Fin contenido de la pagina -->

            <div class="row">
                <footer id="admin-footer" class="clearfix">
                    <div class="pull-left">Creative Commons 2016</div>
                    <div class="pull-right">Panel de control</div>
                </footer>
            </div>
        </div>
    </div>


</div>
