<div class="container-fluid">
    <div class="row text-center">
        <div class="hidden-xs col-md-2 col-sm-2">
            <img src="./../../webroot/img/logo_sg.png">
        </div>
    <div class="col-xs-12 col-md-7 col-md-offset-1 col-sm-10">
        <form class="form-signin text-center" method="post" action="">
            <h2 class="form-signin-heading text-center"><?=__('lng.login','default Value');?></h2>
            <label for="<?=__('lng.temail','default Value');?>" class="sr-only"><?=__('lng.temail','default Value');?></label>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control mlongitud" placeholder="<?=__('lng.temail','default Value');?>" required autofocus>
            <label for="<?=__('lng.contrasena','default Value');?>" class="sr-only"><?=__('lng.contrasena','default Value');?></label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control mlongitud" placeholder="<?=__('lng.contrasena','default Value');?>" required>

            <br/><input class='idioma' name='idioma' type='checkbox' data-toggle='toggle' data-on='Castellano' data-off='Valencià'  data-onstyle='success' data-offstyle='warning' checked>



        <br/>
        <br/>

            <button class="btn btn-lg btn-primary btn-block mlongitud" type="submit"><?=__('lng.acceder','default Value');?></button>
        </form>
    </div>
    </div>

</div> <!-- /container -->