<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- menu izquierdo -->
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
            <h1 class="hidden-sm hidden-xs"><?=__('lng.navegacion','default value')?></h1>
            <ul>
                <li class="link t1">
                    <a href="tablon">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mtablon','default value)')?></span>
                    </a>
                </li>

                <li class="link t2">
                    <a href="cpc">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mcpc','default value)')?></span>
                    </a>
                </li>

                <?php
                if(Session::get('admin')==1){
                    print_r('<li class="link">');
                print_r(' <a href="#collapse-conf" data-toggle="collapse" aria-controls="collapse-conf">');
                print_r('<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>');
                print_r('<span class="hidden-sm hidden-xs">'.__('lng.madmin','default value').'</span>');
                print_r(' </a>');
                print_r('<ul class="collapse collapseable" id="collapse-conf">');
                print_r('<li ><a href="usuario">'.__('lng.musuarios','default value').'</a></li>');
                print_r('<li ><a href="pcs" >'.__('lng.mpcs','default value').'</a></li>');
                print_r('<li ><a href="notastablon">'.__('lng.mtablon','default value').'</a></li>');
                print_r('</ul>');
                print_r('</li>');
                }
                ?>

                <li class="link t3">
                    <a href="detalles">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mdetalles','default value)')?></span>
                    </a>
                </li>

                <li class="link t4">
                    <a href="estadistica">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mestadis','default value)')?></span>
                    </a>
                </li>

                <li class="link tourr" id="">
                    <a href="#">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs "><?=__('lng.mtour','default value)')?></span>
                    </a>
                </li>

                <li class="link active t5">
                    <a href="salir">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs"><?=__('lng.mout','default value)')?></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- contenido principal -->
        <div class="col-md-10 col-sm-11 display-table-cell valign-top box">
            <div class="row">
                <header id="nav-header" class="clearfix">
                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>

                    </div>
                    <div class="col-md-7">
                        <ul class="pull-right">
                            <li id="welcome" class="hidden-xs"><?=__('lng.mbienvenido','default value')?><?=Session::get('usuario');?></li>
                            <li><a href="#" class="logout">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><a href="./salir"><?=__('lng.mout','default value')?></a>
                            </a>
                        </ul>

                    </div>
                </header>
            </div>
            <!-- Contenido de la pagina-->
            <div class="contenido">
                <header>
                    <h2 class="page_title"><?=__('lng.salir','default value')?></h2>
                </header>
                <div class="contenido-inner">
                    <div class="panel panel-default panel_centrado">
                        <div class="panel-body">
                            <form method="post" action="">
                                <h2 class="form-signin-heading"><?=__('lng.salir','default Value');?></h2>
                                <br/>
                                <button class="btn btn-lg btn-danger btnsb " name="salir" type="submit"><?=__('lng.salir2','default Value');?></button><br/>
                                <br/><button class="btn btn-lg btn-primary btnsb " name="cancelar" type="submit"><?=__('lng.cancelar','default Value');?></button>
                            </form>

                        </div>
                    </div>
                </div>


            </div>

            <!-- Fin contenido de la pagina -->

            <div class="row">
                <footer id="admin-footer" class="clearfix">
                    <div class="pull-left">Creative Commons 2016</div>
                    <div class="pull-right">Panel de control</div>
                </footer>
            </div>
        </div>
    </div>


</div>
